@import 'mixins';
@import 'variables';

@mixin setFont($value) {
  font-size: $value;
  line-height: $value/2.5;
}

.landing-page {
  @include flex-col;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $landing-page-color;

  > div {
    font-size: 1rem;
    max-width: 56.25rem;
    text-align: center;
    gap: 1.875rem;
    align-items: center;
    @include flex-col;
  }

  .title {
    @include animationShowRight(0, 2s);
    @include setFont(4em);
    font-weight: 600;
  }

  .content {
    @include animationShowRight(1.5s, 2.5s);
    @include setFont(1.5em);
  }

  .primary-button {
    z-index: 1;
    @include animationShowRight(2s, 2s, $landing-page-color);
  }
}

@media screen and (max-width: 670px) {
  .landing-page > div {
    font-size: .75rem;
  }
}

@media screen and (max-width: 500px) {
  .landing-page > div {
    font-size: .5rem;
  }
}
