@import "variables";
@import "mixins";

@mixin updateBorderColorFormField($color) {
  .mat-form-field-outline {
    color: $color;
    opacity: 1;
  }
}

@mixin hoverScaleIcon($value) {
  .mat-icon {
    transition: scale 0.2s;
    &:hover {
      scale: $value;
    }
  }
}

::ng-deep {
  .mat-table {
    .mat-header-row {
      background-color: $primary-color;
      height: 2.25rem;
      .mat-header-cell {
        color: $white-color;
        font-size: .875rem;
      }
    }
    .mat-row {
      .mat-cell {
        color: $text-table;
      }

      &:hover {
        background-color: $action-table;
      }
    }
  }

  .mat-dialog-container {
    .mat-dialog-actions {
      @include actions-position();
    }
  }

  .mat-form-field {
    .mat-form-field-wrapper {
      background-color: $white-color;

      .mat-form-field-flex {
        @include updateBorderColorFormField($white-color);
        border-radius: 6px;
        box-shadow: $box-shadow-input;
        border: 2px solid $white-color;
        transition: border-color 0.2s;

        .mat-form-field-infix {
          border: unset;

          .mat-input-element:disabled {
            color: $text-table;
          }

          .mat-select {
            .mat-select-arrow-wrapper {
              transform: translateY(15%);
            }
          }

          .mat-select-disabled {
            .mat-select-value {
              color: $text-table;
            }
          }
        }
      }

      .mat-form-field-subscript-wrapper {
        padding: 0;
      }
    }
  }

  .mat-form-field.mat-form-field-invalid {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        border-color: $error !important;
      }
    }
  }

  .mat-form-field:not(.mat-form-field-disabled) {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        &:hover,
        &:focus-within {
          border-color: $primary-color;
        }
      }
    }
  }

  .mat-progress-spinner {
    circle {
      stroke: $primary-color;
    }
  }

  .mat-icon-button {
    &:not(.mat-button-disabled) {
      .mat-icon {
        color: $primary-color;
      }
    }

    &.mat-button-disabled {
      @include hoverScaleIcon(1);
    }
  }

  @include hoverScaleIcon(1.2);
}

.app-container {
  height: 100%;
  background: $landing-page-color;
}
