$primary-color: #4c7de7;
$white-color: #ffffff;
$action-table: #eef0f4;
$inprogress: #e4cf53;
$inprogress-text: #9e360f;
$text-table: #667080;
$error: #db504a;
$subtitle: #15192080;
$completed: #00804c;
$padding-container: 2.5rem;
$choose-assignee-button: #919aa9;
